.list-container {
  background-color: $bg-light-gray;
  padding: 92px 16px 16px 16px;
  min-height: 100vh;
}

.list--title {
  margin-bottom: 16px;
  @include QuicksandText(700, 16px, 24px, $txt-black);
}
